/* Displays the entire background image (avoids scaling that macs do) */
body{
    width:100%;
    height:100%; 
    background: url(../images/botwbackground.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* Header */
.header{
    max-height: 250px;
}

.logo{
    display: block;
    max-height: 250px;
}

h1{
    
    font-size: 64px;
    color: rgb(184, 158, 105);
    text-align: bottom;
}


/* Fighter info */


.fighter-image{
    max-height: 100px;
    max-width: 125px;
    display: block;
}

.btn{
    height: 100%;
}




#attack{
    height: auto;
}



/* Assigns div height so buttons take same vertical space */
.button-height{
    height: 165px;
}


@font-face {
    font-family: 'botw';
    src: url(../font/botw.otf) format('opentype');
}

/* Font changes */
h1, h2, h3, h4{
    font-family: 'botw';
}

p{
    font-size: 32px;
}